.prodigy-title {
  display: none;
}

.prodigy-button-reject {
  display: none;
}

#root > div > main > div.prodigy-annotator.c0149 > div > div {
  max-width: unset;
}

.instructions {
  position: absolute;
  top: 60px;
  right: 5px;
  width: 500px;
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
