.emailInput {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(216, 236, 213, 0.8);
}

.emailInput:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient( to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.input {
  border-style: none;
  background: transparent;
  outline: none;
  flex-grow: 1;
  text-align: center;
  color: #454d44;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.input::-webkit-input-placeholder {
  color: #454d44;
}

.error {
  margin-top: 1rem;
  color: red;
  font-size: 1rem;
}